<app-navbar></app-navbar>
<section *ngIf="dog" id="dog_item">
    <!--<div class="dogImageContainer"><img src="./dog-images/dog1.jpg" alt="Dog Image"></div>-->
    <div>
      <h1>{{dog.name}}</h1>
	  <br>
      <a id="adoptButton">Apply for Adoption</a>
	  <br><br>
      <h3>About this dog</h3>
      <table id="specs">
	    <tr>
		  <th>Name</th>
		  <td><input type="text" name="name" value="{{dog.name}}"></td>
	    </tr>
	    <tr>
          <th>Breed</th>
          <td><input type="text" name="breed" value="{{dog.breed}}"></td>
        </tr>
	    <tr>
	      <th>Age</th>
	      <td><input type="number" name="age" value="{{dog.age}}"></td>
        </tr>
	    <tr>
	      <th>Color</th>
	      <td><input type="text" name="color" value="{{dog.color}}"></td>
        </tr>
        <tr>
          <th>Vaccinated</th>
          <td><input type="text" name="vaccinated" value="{{dog.vaccinated}}"></td>
        </tr>
        <tr>
          <th>Traits</th>
          <td><input type="text" name="traits" value="{{dog.traits}}"></td>
        </tr>
      </table>
    </div>
  </section>
