<app-navbar></app-navbar>
<section id="about-us">
    <div class="logo-container"><img [src]="'./assets/images/PawDoption.png'" width="100%"></div>
    <div>
	  <h1>About Us</h1>
      <p><b>PawDoption</b> is a city veterinary office that caters to the needs of dogs but also serves as a temporary home for dogs. </p>
	  <p>Committed to helping find loving homes for these lovable dogs and giving them the family they need.</p>
	  <p>Dogs that are open for adoption are thoroughly screened for both the human and the dog's safety.</p>
	  <br>
	  <h3>Our Mission</h3>
	  <p><q>PawDoption is committed on promoting animal health and welfare, supporting adopt, not shop campaign.</q></p>
	  <h3>Our Vision</h3>
	  <p><q>A healthy number of human-dog relationships and an increased number of adopted dogs throughout the city. </q></p>
    </div>
</section>