<app-navbar></app-navbar>
<section id="about-us">
    <div class="logo-container"><img [src]="'./assets/images/PawDoption.png'" width="100%"></div>
    <div>
	  <h1>About Us</h1>
      <p><b>Orange</b> is an e-commerce website prioritizing the security, safety, and convenience of our customers, ensuring them that all the sellers in our platform are legitimate.</p>
	  <p>We have been operating since the year 2021 and have served over 9 billion people in total. Through utter diligence, determination, and honesty of everyone in our community, the number of customers that we serve daily continue to grow.</p>
	  <br>
	  <h3>Our Mission</h3>
	  <p><q>Orange is committed on bringing our customers high quality products that are both genuine and affordable without the need for them to leave their house.</q></p>
	  <h3>Our Vision</h3>
	  <p><q>Through our platform, the anxiety of buying things online will become a thing of the past. No more fake products. No more scams.</q></p>
    </div>
</section>