<div class="mainWrapper">
    <header><img src="PawDoption.png" alt="PawDoption" width="100vmin"></header>
  <nav class="horizontalNavBar">
      <ul>
        <li><a href="doromal_ex4.html">About Us</a></li>
        <li><a routerLink="/dogs">Dogs</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="testimonials.html">Testimonials</a></li>
        <li style="float: right;"><a href="contact-us.html">Contact Us</a></li>
      </ul>
  </nav>
<router-outlet></router-outlet>
<footer>&copy; Orange 2021</footer>
</div>